.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1rem 2rem;
  font-size: 16px;
  cursor: pointer;
  background: #ffffff;
  background-position: center;
  transition: all 0.8s;
  &:hover {
    opacity: 0.9;
    background: #f8edc9 radial-gradient(circle, transparent 1%, #f8edc9 1%) center/15000%;
  }
  &:active {
    background-color: #e8d492;
    background-size: 100%;
    transition: background 0s;
  }
  span {
    margin-right: 1rem;
  }
}
