.container {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 3rem;
    
    width: 80vw;
    padding: 2rem 6rem;
    margin: 0 auto;
    @media screen and (max-width: 920px) {
        //    grid-template-columns: repeat(1 ,1fr);
        width: 100%;
        padding: 2rem 3rem;
        }
    @media screen and (max-width: 640px) {
           grid-template-columns: repeat(1 ,1fr);
        width: 100%;
        padding: 2rem 3rem;
        gap: 1rem;
        }
    
}
.image {
    height: 500px;
    position: relative;
}
.content {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    @media screen and (max-width: 640px) {
        margin-top: 5%;
        }
h1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 0px;
    margin: 0;
}
h2 {
    font-weight: 500;
    font-size: 2rem;
    margin: 1.4rem 0 ;
}
small {
    margin: 0 0 2rem 0;
}
a {
    font-size: 14px;
    text-decoration: underline;
    margin-top: 1rem;
}
}

.button, .buttonoutline {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border: none;
padding: 1rem 2rem;
font-size: 16px;
cursor: pointer;
background: #F1EEE4;
background-position: center;
transition: all 0.8s;
&:hover {
    opacity: 0.9;
    background: #f8edc9 radial-gradient(circle, transparent 1%, #f8edc9 1%) center/15000%;
}
&:active {
background-color: #e8d492;
background-size: 100%;
transition: background 0s;
}
span {
    margin-right: 1rem;
}
}
.buttonoutline{
    background-color: #fff;
    border: 1px solid #F1EEE4;
    margin-bottom: 1rem;
}